{
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "airbnb/hooks",
        "prettier",
        "prettier/react"
    ],
    "plugins": [
        "react",
        "prettier"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "prettier/prettier": "error"
    }
}
